swagger: '2.0'
info:
  version: '1'
  title: BRCK Local Dashboard REST API
  contact:
    name: BRCK Support
    email: support@brck.com
    url: 'http://support.brck.com/'
  x-logo:
    url: 'https://brck.github.io/api-docs/brck-logo-lg.svg'
  description: >
    # Overview

    This spec describes to resources that make up the BRCK local dashboard REST API.
    This API is deployed on a SupaBRCK and is exposed via a dashboard to manage setup and troubleshooting of BRCKs.


    ## Base URL

    All URLs (API endpoints) referenced in this documentation have the following
    base:

      ```bash
      http://local.brck.com/api/v1
      ```

    ## Timestamps

    All timestamps are returned in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format:

      ```bash
      YYYY-MM-DDTHH:MM:SSZ
      ```

    # Authentication

    All API requests must be authenticated. Under the BRCK REST API
    authentication scheme, each request should contain the following HTTP
    headers:


    * `X-Auth-Token-Key`



    The API authentication token is generated by accessing an authentication endpoint which is apart of the API.

    The default admin credentials will be used to access the dashboard and to generate access tokens to manage the device.


    * _API Token Key_. This will serve as your `X-Auth-Token-Key`


    # Error Handling

    If the API encounters an error(s), a standard HTTP status code will be
    returned; with additional information (on the error(s)) provided in a JSON
    formatted response. The list of possible error codes is outlined below:


    | Status Code | Description |

    |-------------|-------------|

    | 400 | Bad input parameter. The error message should indicate which one
    (the parameter) and why |

    | 401 | Unauthorized. Either the user does not have access the resource or
    they should reauthenticate |

    | 403 | Forbidden. Re-authentication will not help |

    | 404 | Resource not found. In some cases, the API will return this status
    code to prevent leakage of specific resources |

    | 412 | A condition that is necessary to process the request has not been
    met |

    | 5xx | There is a problem with the API. Try again later |


    The API response has the following name/value pairs:

      * `message` - The name of the problem
      * `errors` - A map of errors in the form `{ 'key': 'Error description' }`  
schemes:
  - http
host: local.brck.com
basePath: /api/v1
x-servers:
  - url: //local.brck.com/api/v1
    description: Live Server
produces:
  - application/json
consumes:
  - application/json
tags:
  - name: System
    description: >
      The system represents the current state of the device including but not
      limited to connection status, uptime, storage status, battery status. 
  - name: Network
    description: >
      The network state reports on the state of network connections available
      on the interface and provides endpoints to manage them.

      Note that the data available will depend on the type of interface.

      WAN connection payloads will include a `wan` section.

      Ethernet connection payloads will include a `ethernet` section

      Note that for Ethernet connections, when `dhcp_enabled` is flagged as `true`,
      network_information will be disregarded except `dns_servers` when provided.
securityDefinitions:
  XAuthTokenKey:
    name: X-Auth-Token-Key
    type: apiKey
    in: header
security:
  - XAuthTokenKey: []
parameters:
  connectionId:
    name: id
    in: path
    type: string
    required: true
    description: The unique ID of the device.